/* MessagesComponent's private CSS styles */
@use '../scss/pi/index.scss' as pi;
@use '../scss/basis/index.scss' as basis;


.red-box {
    font-size: basis.$font-size-px-lv2;
}

.danger-box {
    height: 100px;
    width: 100px;
    background-color: basis.$dangercolor;
    color: red;
}