/* MessagesComponent's private CSS styles */
@use '../scss/pi.scss' as *;
@use '../scss/basis.scss' as basis;

.red-box {
    font-size: basis.$font-size-px-lv4;
}

.danger-box {
    height: 100px;
    width: 100px;
    background-color: basis.$dangercolor;
}