
// @use 'basis.scss' with(
//     $font-size: 20px,
//     $ms-ratio: 1.4,
//     // $testcolor: red
// );
// @forward 'basis.scss';
@forward 'basis.scss' with(
    $font-size: 30px !default,
    $dangercolor: green !default,
);
@use 'basis.scss';


.width-100 {
    width: basis.$font-size;
    @include basis.base;
}

// .danger-box {
//     width: 50px !important;
// }


